<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Plakumat's Blog</title>
	<link rel="stylesheet" href="/assets/css/main.css">
	<link rel="stylesheet" href="/assets/css/detail.css">
</head>

<body>

	<div class="wrapper">

		{% include "shared/header.html" %}

		<h1>{{title}}</h1>

		<p>{{data | safe}}</p>

		{% include "shared/footer.html" %}

	</div>

</body>

</html>